.paragraph {
  margin-bottom: 1rem;
}

.list {
  margin-top: 1rem;
  list-style-position: inside;

  &Item {
    span {
      text-transform: capitalize;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
