.root {
  color: var(--white);
  padding: 0.5rem 0.8rem;
  border: 0.1rem solid var(--white);
  background-color: transparent;
  border-radius: 0.3rem;
  min-width: unset;
  display: block;
  font-size: 1rem;

  &::placeholder {
    font-size: 1rem;
  }
}

.red {
  border: 0.1rem solid var(--red);
  color: var(--red);

  &::placeholder {
    color: var(--red);
    opacity: 0.8;
  }
}
