.root {
  font-family: "Enthalpy 298", serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.red {
  color: var(--red);
}

.dark {
  color: var(--dark-black);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
