.root {
  padding: 0 0.9rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.9rem;
  display: block;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }

  &:active {
    background-color: var(--grey);
  }
}
